<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="../../js/managements/employee.js"></script>

<head th:replace="fragments/header :: 2depthHeader"> </head>
<body>
<div class="main-wrapper">
    <nav th:replace="fragments/sidebar :: commonSidebar"/>

    <div class="page-wrapper">
        <nav class="navbar" th:replace="fragments/navbar :: commonNavBar"></nav>
        <div class="page-content">
            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">매장관리</a></li>
                    <li class="breadcrumb-item" aria-current="page">직원관리</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">등록된 직원 현황 및 관리</h4>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block" onclick="addEmployee()">
                                    직원등록
                                </button>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">

                                    <thead>
                                    <tr>
                                        <th> 직원 </th>
                                        <th> 직원이름 </th>
                                        <th> 업무 </th>
                                        <th> 급여 </th>
                                        <th> 입사일 </th>
                                        <th> 근무여부 </th>
                                        <th> 관리 </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="py-1">
                                            <img src="http://via.placeholder.com/36x36" alt="image">
                                        </td>
                                        <td> Cedric Kelly </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td> $206,850 </td>
                                        <td> June 21, 2010 </td>
                                        <td> 퇴사 </td>
                                        <td>
                                            <div>
                                                <a>삭제</a>
                                                <a>수정</a>
                                            </div>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="py-1">
                                            <img src="http://via.placeholder.com/36x36" alt="image">
                                        </td>
                                        <td> Haley Kennedy </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td> $313,500 </td>
                                        <td> May 15, 2013 </td>
                                        <td> 근무 중 </td>
                                        <td>
                                            <div>
                                                <a>삭제</a>
                                                <a>수정</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/fragments/footer :: 2depthFooter"> </footer>
</body>
</html>