<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav class="sidebar" th:fragment="commonSidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            RES
        </a>

    </div>
    <div class="sidebar-body">
        <ul class="nav">

            <li class="nav-item nav-category">매장관리</li>
            <li class="nav-item">
                <a href="pages/apps/chat.html" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span href="/store/items" class="link-title">판매상품 관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/managements/employ" class="nav-link">
                    <i class="link-icon" data-feather="user"></i>
                    <span href="/store/employee" class="link-title">직원관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/apps/calendar.html" class="nav-link">
                    <i class="link-icon" data-feather="plus"></i>
                    <span href="/store/sales" class="link-title">매출관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/apps/calendar.html" class="nav-link">
                    <i class="link-icon" data-feather="minus"></i>
                    <span href="/store/spending" class="link-title">지출관리</span>
                </a>
            </li>




            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#errorPages" role="button" aria-expanded="false" aria-controls="errorPages">
                    <i class="link-icon" data-feather="cloud-off"></i>
                    <span class="link-title">2depth 참고용</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="errorPages">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="pages/error/404.html" class="nav-link">404</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/error/500.html" class="nav-link">500</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item nav-category">Docs</li>
            <li class="nav-item">
                <a href="https://www.nobleui.com/html/documentation/docs.html" target="_blank" class="nav-link">
                    <i class="link-icon" data-feather="hash"></i>
                    <span class="link-title">Documentation</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</html>